body {
	background-color: #2C2F36;
}

#main {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 28px;
	text-align: center;
	color: whitesmoke;
}

#page {
	background-color: #353840;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: #4B0026;
	color: white;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 45px;
	color: #00805B;
}

#footer {
	color: #E7F3F0;
	text-align: right;
	font-family: "Comic Sans MS", cursive, sans-serif;
}